.button {
  display: block;
  width: 100%;
  padding: 24px 0 24px;
  text-align: center;
  color: $black-medium-light;
  font-size: 18px;
  line-height: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $black-medium-light;

  @include transition;

  &:hover {
    background-color: $black-medium-light;
    color: $white;
  }

  &:focus,
  &:active {
    background-color: $black-medium-light;
    color: $black-light-extra;
  }

  &--modal-form {
    padding: 26px 0 22px;
    font-size: 17px;
    background-color: $tiffany-light-extra;
    border: 2px solid $tiffany-light-extra;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      border: 2px solid $tiffany-light-extra;
      color: $tiffany-light-extra;
    }
  }

  &--crutch {

    @include bp-tablet {
      padding: 25px 23px 23px;
    }
  }

  @include bp-tablet {
    padding: 24px;
    font-size: 17px;

    &--modal-form {
      margin-left: 3px;
      width: 98.2%;
    }
  }

  @include bp-desktop {
    font-size: 17px;
  }

  &--contacts {
    padding: 24px 25px 24px 24px;

    @include bp-tablet {
      padding: 24px 25px 24px 23px;
    }
  }
}
