.button {
  display: block;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-medium-light;
  background-color: $white;
  border: 2px solid $black-medium-light;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black-medium-light;
    outline: none;
  }

  &:active {
    color: $white-03;
    background-color: $black-medium-light;
  }

  @include bp-tablet {
    padding: 14px 24px;
    font-size: 17px;

    &--modal-form {
      width: 98.2%;
      margin-left: 3px;
    }
  }

  &--contacts {
    padding: 14px 25px 14px 24px;

    @include bp-tablet {
      padding: 14px 25px 14px 23px;
    }

    @include bp-desktop {
      padding: 14px 24px;
    }
  }

  &--modal-form {
    padding: 14px 25px 14px 23px;
    font-size: 17px;
    color: $white;
    background-color: $tiffany-light-extra;
    border: 2px solid $tiffany-light-extra;

    &:hover,
    &:focus,
    &:active {
      color: $tiffany-light-extra;
      background-color: $white;
      border: 2px solid $tiffany-light-extra;
      outline: none;
    }

    @include bp-tablet {
      padding: 16px 25px 12px 24px;
    }
  }

  &--crutch {
    @include bp-desktop {
      padding: 14px 24px 14px 22px;
    }
  }

  &--slider {
    padding: 14px 23px 14px 24px;

    @include bp-tablet {
      position: absolute;
      top: 80px;
      right: 50px;
      padding: 14px 24px;
      width: 175px;
    }

    @include bp-desktop {
      right: 0;
    }
  }
}

// page-form

.page-form .button {
  @include bp-tablet {
    padding: 14px 24px;
  }
}
