.about-us {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 100%;
  background-position: 0 4px;

  @include bp-tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-bottom: 26px;
    background-position: 0 3px;

    @include gorisontal-center;
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    padding: 44px 175px 33px;
    background-position: 0 4px;
  }
}

.about-us__header {
  padding: 10px 0 0;

  @include bp-tablet {
    padding: 21px 0 0;
  }

  @include bp-desktop {
    padding: 40px 0 0;
  }
}

.about-us__list {
  list-style-type: none;
  width: 100%;
  padding: 27px 0 0;

  @include bp-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 42px 0 0;
    padding: 1px 30px 0 0;
  }

  @include bp-desktop {
    margin-top: 40px;
  }
}

.about-us__list-item {
  display: flex;
  flex-direction: column;
  padding: 0 0 28px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $black;

  &::before {
    content: "";
    width: 55px;
    height: 39px;
    margin: 0 0 16px;
  }

  &:last-child {
    padding: 0;
  }

  &--ecology::before {
    margin: 0 0 17px;
    background: url("../img/icon-feature-flower.svg") no-repeat 8px 1px;
    background-size: 33px 38px;
  }

  &--style::before {
    background: url("../img/icon-feature-money.svg") no-repeat 0 0;
    background-size: 47px 29px;
  }

  &--likes::before {
    background: url("../img/icon-feature-heart.svg") no-repeat 7px 6px;
    background-size: 34px 27px;
  }

  &--handwork::before {
    background: url("../img/icon-feature-ball.svg") no-repeat 3px 3px;
    background-size: 35px 34px;
  }

  &--support::before {
    margin: 0 0 15px -6px;
    background: url("../img/icon-feature-rocket.svg") no-repeat 0 4px;
    background-size: 55px 23px;
  }

  &--gift::before {
    margin: 0 0 17px;
    background: url("../img/icon-feature-gift.svg") no-repeat 3px 3px;
    background-size: 33px 32px;
  }

  &--ecology {
    padding-right: 30%;
  }

  @include bp-tablet {
    padding: 0 10% 56px 0;
    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 1;
      padding-bottom: 55px;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--handwork {
      order: 2;
      padding: 1px 2% 55px 15px;
    }

    &--support {
      order: 4;
      padding-left: 16px;
      padding-right: 2%;
    }

    &--gift {
      order: 6;
      padding-left: 13px;
      padding-right: 2%;
    }

    &:last-child {
      padding-left: 16px;
      padding-right: 2%;
    }

    &--ecology::before {
      margin: -3px 0 19px 0;
      height: 39px;
      background-size: 33px 38px;
    }

    &--handwork::before {
      margin: 0 0 15px;
      background-position: 3px 1px;
    }

    &--style::before {
      margin: 0 0 16px;
      background-position: 1px 0;
    }

    &--support::before {
      margin: 0 0 17px -7px;
      background-position: 0 4px;
    }

    &--likes::before {
      margin: 0 0 15px;
      background-position: 8px 5px;
    }

    &--gift::before {
      margin: 0 0 16px 0;
      background-position: 2px 1px;
    }
  }

  @include bp-desktop {
    &--handwork,
    &--support,
    &--gift {
      padding-right: 0;
      padding-left: 15px;
    }

    &--support::before {
      margin-left: -6px;
    }

    &--gift::before {
      margin-left: 1px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }
}
