.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 30px 30px 0;
  list-style-type: none;


  @include bp-tablet {
    grid-row-gap: 54px;
    margin-bottom: 0px;
    @include gorisontal-center;
    padding: 68px 50px 47px;
  }

  @include bp-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 51px;
    max-width: $bp-desk-big;
    padding-top: 131px;
    padding-bottom: 0;
  }
}

.catalog__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 0px 0px 1px $white-medium-dark inset;

  &:hover,
  &:focus {
    .catalog__product-info {
      box-shadow: 0px 6px 10px $black-01;
    }
  }

  &:active {
    .catalog__product-info {
      box-shadow: 0px 3px 5px $black-01;
    }
  }

  @include bp-tablet {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    min-height: 334px;

    &:nth-child(3n) {
      margin: 0;
    }
  }

  @include bp-desktop {
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: 57px;

    &:nth-child(3n) {
      margin-bottom: 57px;
    }
  }
}

.catalog__img-wrapper {
  @include adaptive-img-wrapper;
}

.catalog__img {
  display: block;
  background-color: $white-medium;
  @include adaptive-img;

  &:before {
    content: "";
    display: block;
    padding-top: 63.5%;
  }
}

.catalog__product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
  padding: 27px 28px 20px;
  border-top: 1px solid $white-medium-dark;
  @include transition;

  @include bp-tablet {
    padding: 26px 30px 4px 33px;
  }

  @include bp-desktop {
    width: 100%;
    min-height: 197px;
    padding: 26px 30px 4px 28px;
  }

  &--crutch {
    padding: 24px 28px 20px;

    @include bp-tablet {
      padding: 25px 30px 4px 33px;
    }

    @include bp-desktop {
      padding: 25px 30px 4px 27px;
    }
  }

  &--crutch-basket {
    @include bp-desktop {
      padding: 26px 30px 4px 27px;
    }
  }
}

.catalog__title {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @include bp-tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__title-link {
  color: $black;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__description {
  margin: 0;
  padding: 6px 0 17px;
  font-size: 13px;

  @include bp-tablet {
    flex-grow: 1;
    padding: 6px 0 30px;
    font-size: 15px;
  }

  @include bp-desktop {
    padding: 7px 0;
  }

  &--crutch {
    padding: 10px 0 17px;

    @include bp-tablet {
      padding: 7px 0 17px;
    }

    @include bp-desktop {
      padding: 8px 0 11px;
    }
  }

  &--laundry-basket {
    @include bp-tablet {
      padding: 9px 0 30px;
    }

    @include bp-desktop {
      padding: 7px 0;
    }
  }
}

.catalog__pricetag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 0 7px;
  color: $black;
  border-top: 1px solid $white-dark;

  @include bp-tablet {
    padding: 3px 0 2px 0;
  }

  @include bp-desktop {
    padding: 4px 0 1px 0;
  }
}

.catalog__cost {
  font-size: 15px;
  line-height: 24px;

  @include bp-tablet {
    font-size: 17px;
  }
}

.catalog__add-to-cart {
  @include flex-center-vh;
  align-self: flex-start;
  width: 20px;
  height: 19px;
  margin-right: -1px;
  outline: none;

  @include bp-tablet {
    width: 64px;
    height: 64px;
    margin-right: -19px;
    padding-bottom: 8px;
  }
}

.catalog__item:nth-of-type(3n-1) .catalog__add-to-cart {
  @include bp-desktop {
    margin-right: -18px;
  }
}

.catalog__item:nth-of-type(3n-2) .catalog__add-to-cart {
  @include bp-desktop {
    margin-right: -20px;
  }
}

.catalog__add-to-cart:hover .catalog__add-to-cart-icon,
.catalog__add-to-cart:focus .catalog__add-to-cart-icon {
  fill: $tiffany-light;
}

.catalog__add-to-cart:active .catalog__add-to-cart-icon {
  fill: $tiffany-light;
  opacity: 0.3;
}

.catalog__add-to-cart-icon {
  width: 22px;
  height: 21px;
  fill: $grey;

  @include bp-tablet {
    width: 23px;
    height: 18px;
  }

  @include bp-tablet {
    width: 21px;
    height: 18px;
  }
}
