.catalog-product-type {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include bp-tablet {
    // position: relative;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0 50px;
  }

  @include bp-desktop {
    max-width: $bp-desk-big;

    @include gorisontal-center;
  }
}

.catalog-product-type__item {
  display: flex;
  align-items: flex-end;
  width: 100%;
  // min-height: 103px;
  background-color: $tiffany-light;

  transition: margin-top 200ms ease-in-out;

  &:nth-child(even) {
    background-color: $tiffany-medium;
  }

  @include bp-tablet {
    width: 100%;
    height: 117px;
  }
}

.catalog-product-type__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 50% 2% $padding-usual;
  width: 100%;
  min-height: 103px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background-color: $tiffany-light;

  &:hover {
    text-decoration: none;
    height: 114px;
    margin-top: -5px;
    padding-bottom: 5px;
    transition: margin-top 200ms ease-in-out, heoght 200ms ease-in-out;
  }

  &:focus,
  &:active {
    text-decoration: none;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 27px;
    width: 60px;
    min-height: 103px;
    content: "";

    @include bp-tablet {
      height: 117px;
    }
  }

  &--interior::after {
    background: url("../img/icon-interior.svg") no-repeat 11px 23px;
    background-size: 40px 62px;

    @include bp-tablet {
      background-position: 10px 30px;
    }
  }

  &--toy::after {
    background: url("../img/icon-toy.svg") no-repeat 0 21px;
    background-size: 60px 60px;

    @include bp-tablet {
      background-position: 0 33px;
      right: 35px;
    }
  }

  @include bp-tablet {
    padding: 0 40% 6px 36px;
    height: 117px;
    font-size: 20px;
    line-height: 30px;
    /*line-height: inherit;*/
  }

  @include bp-desktop {
    padding: 0px 60% 6px 36px;
  }

  &--interior {

    @include bp-desktop {
      padding-left: 37px;
    }
  }
}

.catalog-product-type__item:nth-child(even) .catalog-product-type__link {
  background-color: $tiffany-medium;
}
