.catalog {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  width: 100%;
  list-style-type: none;
  padding: $padding-usual $padding-usual 0;
  margin: 0 auto 30px;

  @include bp-tablet {
    grid-row-gap: 54px;
    max-width: $bp-tab;
    margin-bottom: 0px;

    @include gorisontal-center;
    padding: 68px $padding-usual-tab 47px;
  }

  @include bp-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 51px;
    max-width: $bp-desk-big;
    padding-top: 131px;
    padding-bottom: 0;
  }
}

.catalog__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 1px $white-medium-dark inset;

  &:hover {
    .catalog__product-info {
      box-shadow: 0 5px 10px 2px $grey-light-extra;

      @include transition;
    }
  }

  &:focus,
  &:active {
    .catalog__product-info {
      box-shadow: 0 3px 5px 2px $grey-light-extra;

      @include transition;
    }
  }

  @include bp-tablet {
    flex-direction: row;
    padding: 0;
    height: 334px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      .catalog__product-info {
        box-shadow: 7px 0 8px 0 $grey-light-extra;

        @include transition;
      }
    }

    &:focus,
    &:active {
      .catalog__product-info {
        box-shadow: 7px 0 8px -3px $grey-light-extra;

        @include transition;
      }
    }
  }

  @include bp-desktop {
    flex-direction: column;
    width: 100%;
    height: auto;
    /*margin-right: 5%;*/
    margin-bottom: 57px;
    // overflow: hidden;

    &:last-child {
      margin-bottom: 57px;
    }

    // &:nth-child(3n) {
    //   margin-right: 0;
    //   margin-left: -1px;
    // }

    &:hover {
      .catalog__product-info {
        box-shadow: 0 5px 10px 2px $grey-light-extra;

        @include transition;
      }
    }

    &:focus,
    &:active {
      .catalog__product-info {
        box-shadow: 0 3px 5px 2px $grey-light-extra;

        @include transition;
      }
    }
  }
}

.catalog__img-wrapper {
  // @include flex-center-vh;
  @include adaptive-img-wrapper;

  @include bp-tablet {
    width: 50%;
    flex-basis: 334px;
    height: 342px;
    margin: 0;
    padding: 0;
  }

  @include bp-desktop {
    // margin-left: 1px;
    width: 100%;
    flex-basis: 316px;
    height: 470px;
  }

  &--crutch {
    @include bp-desktop {
      margin-left: 1px;
    }
  }
}

.catalog__img {
  position: relative;
  display: block;
  background-color: $white-medium;

  &:before {
    content: "";
    display: block;
    padding-top: 63.5%;
  }

  @include adaptive-img;

  @include bp-tablet {
    height: 334px;
  }

  @include bp-desktop {
    /*min-width: 316px;*/
    /*height: 462px;*/
    width: 100%;
    height: auto;
  }
}

.catalog__product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 27px 28px 20px;
  margin-top: 0px;
  border-top: 1px solid $white-medium-dark;
  // border-top: none;

  @include transition;

  @include bp-tablet {
    width: 50%;
    padding: 26px $padding-usual 4px 33px;
  }

  @include bp-desktop {
    width: 100%;
    min-height: 197px;
    padding: 26px 30px 4px 28px;
  }

  &--crutch {
    padding: 24px 28px 20px;

    @include bp-tablet {
      padding: 25px 30px 4px 33px;
    }

    @include bp-desktop {
      padding: 25px 30px 4px 27px;
    }
  }

  &--crutch-basket {
    @include bp-desktop {
      padding: 26px 30px 4px 27px;
    }
  }
}

.catalog__title {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @include bp-tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__title-link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.catalog__description {
  padding: 6px 0 17px;
  margin: 0;
  font-size: 13px;

  @include bp-tablet {
    flex-grow: 1;
    padding: 6px 0 $padding-usual;
    font-size: 15px;
  }

  @include bp-desktop {
    padding: 7px 0;
  }

  &--crutch {
    padding: 10px 0 17px;

    @include bp-tablet {
      padding: 7px 0 17px;
    }

    @include bp-desktop {
      // flex-grow: 0;
      padding: 8px 0 11px;
    }
  }

  &--laundry-basket {
    @include bp-tablet {
      padding: 9px 0 30px;
    }

    @include bp-desktop {
      // margin-bottom: 6px;
      padding: 7px 0;
    }
  }
}

.catalog__pricetag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 22px 0 7px;
  border-top: 1px solid $white-dark;
  color: $black;

  @include bp-tablet {
    padding: 3px 0 2px 0;
  }

  @include bp-desktop {
    padding: 4px 0 1px 0;
  }
}

.catalog__cost {
  font-size: 15px;
  line-height: 24px;

  @include bp-tablet {
    font-size: 17px;
  }
}

.catalog__add-to-cart {
  @include flex-center-vh;
  width: 20px;
  height: 19px;

  @include bp-tablet {
    margin-right: -20px;
    width: 64px;
    height: 64px;
  }
}

.catalog__add-to-cart-icon {
  width: 20px;
  height: 19px;
  fill: $grey;

  @include transition;

  &:hover,
  &:active {
    fill: $tiffany-light;
  }

  &:focus {
    opacity: 0.3;
  }
}
