.contacts {
  padding: 29px 0 39px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100%;

  @include bp-tablet {
    @include gorisontal-center;
    padding: 42px 0 56px;
    background-position-y: 19px;
  }

  @include bp-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    max-width: $bp-desk-small;
    min-height: 569px;
    margin-bottom: 104px;
    padding-top: 112px;
    padding-bottom: 0;
  }
}

.contacts__header {
  padding: 15px 0 27px 29px;

  @include bp-tablet {
    padding: 39px 50px 40px;

    &::after {
      content: "";
      display: inline-block;
      width: 47px;
      height: 81px;
      margin: -1px 0 1px -50px;
      background: url("../img/icon-flag.svg") no-repeat left center;
      background-size: auto 81px;
    }
  }

  @include bp-desktop {
    grid-row: 1/1;
    grid-column: 1;
    display: flex;
    padding: 54px 50px 0;

    &::after {
      background-position: 13px 8px;
      min-width: 124px;
      height: 105px;
      margin-left: 0;
      order: -1;
    }
  }
}

.contacts__title {
  padding: 0;
  font-size: 18px;

  @include bp-tablet {
    display: flex;
    align-items: center;
    padding-top: 13px;
    font-size: 43px;
    line-height: 50px;
  }

  @include bp-desktop {
    padding-top: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__map {
  @include bp-tablet {
    padding: 21px 0 0;
  }

  @include bp-desktop {
    grid-row: 1/4;
    width: 527px;
    height: 457px;
    margin-right: -1px;
    padding: 0;
    overflow: hidden;
  }
}

.contacts__button-box {
  padding: 0 2em;

  @include bp-tablet {
    width: 290px;
    margin: 0 auto;
  }

  @include bp-desktop {
    grid-row: 3/4;
    justify-self: end;
    align-self: flex-end;
    margin: 0 89px 1px 0;
  }
}
