.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100%;
  padding: $padding-usual 0 39px;

  @include bp-tablet {
    max-width: $bp-tab;

    @include gorisontal-center;
    padding: 42px 0 57px;
    background-position-y: 20px;
  }

  @include bp-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    max-width: $bp-desk-small;
    min-height: 570px;
    padding-bottom: 0;
    margin-bottom: 105px;
  }
}

.contacts__header {
  padding: 15px 0 27px 29px;

  @include bp-tablet {
    padding: 39px $padding-usual-tab 40px;

    &::after {
      content: "";
      display: inline-block;
      margin-left: -50px;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat left center;
      background-size: auto 81px;
    }
  }

  @include bp-desktop {
    grid-row: 1/1;
    display: flex;
    // padding: 130px 0 0;

    &::after {
      background-position: 113px 2px;
      order: -1;
      min-width: 224px;
      height: 83px;
    }
  }
}

.contacts__title {
  font-size: 18px;
  padding: 0;

  @include bp-tablet {
    display: flex;
    align-items: center;
    padding-top: 14px;
    font-size: 43px;
    line-height: 50px;
  }

  @include bp-desktop {
    padding-top: 12px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__map {
  @include bp-tablet {
    padding: 21px 0 0;
  }

  @include bp-desktop {
    grid-row: 1/3;
    margin-top: 69px;
    margin-right: -1px;
    width: 527px;
    height: 457px;
    padding: 0;
    overflow: hidden;
  }
}
