.developer {
  @include flex-center-vh;
  width: 100%;
  font-size: 19px;
  line-height: 18px;
  color: $black;
  font-weight: bold;

  @include bp-only-mobile {
    height: 80px;
  }

  @include bp-tablet {
    justify-content: flex-end;
    font-size: 19px;
    line-height: 18px;
  }
}

.developer__link {
  outline: none;

  @include bp-tablet {
    margin: -8px 0 0;
  }
}

.developer__text {
  padding: 3px 28px 5px 0;

  @include bp-tablet {
    padding: 0 28px 10px 0;
  }

  @include bp-desktop {
    padding-right: 29px;
  }
}

.developer__text:hover+.developer__link .developer__logo {
  fill: $tiffany-medium-dark;
}

.developer__text:active+.developer__link .developer__logo {
  fill: $tiffany-medium-dark;
  opacity: 0.3;
}

.developer__logo {
  height: 34px;
  fill: $tiffany-light;
}

.developer__link:hover .developer__logo,
.developer__link:focus .developer__logo {
  fill: $tiffany-medium-dark;
}

.developer__link:active .developer__logo {
  fill: $tiffany-medium-dark;
  opacity: 0.3;
}
