.full-order-box {
  width: 100%;
  padding: 17px 30px 26px;

  @include bp-tablet {
    padding: 55px 0 44px;
  }

  @include bp-desktop {
    padding: 118px 0 50px;
  }
}

.full-order-box__description {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;

  @include bp-tablet {
    max-width: $bp-tab;
    @include gorisontal-center;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    padding: 0 150px 0 175px;
  }
}
