.full-order-box {
  width: 100%;
  padding: 17px $padding-usual 26px;

  @include bp-tablet {
    padding: 55px 0 45px;
  }

  @include bp-desktop {
    padding: 118px 0 $padding-usual-tab;
  }
}

.full-order-box__description {
  font-size: 13px;
  line-height: 24px;
  padding: 0;
  margin: 0;

  @include bp-tablet {
    max-width: $bp-tab;

    @include gorisontal-center;
    padding: 0 $padding-usual-tab;
    font-size: 17px;
    line-height: 30px;
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    padding: 0 150px 0 175px;
    line-height: 1.8;
  }
}
