.logo {
  width: 86px;
  height: 35px;
  margin-top: 22px;

  @include bp-tablet {
    width: 114px;
    height: 46px;
    margin-top: 0;
  }

  @include bp-desktop {
    width: 149px;
    height: 72px;
  }
}
