.main-footer {
  padding: 0 30px;
  background-color: $white-medium;

  @include bp-tablet {
    margin-top: 1px;
    padding: 0 50px;
    padding-top: 1px;
  }

  @include bp-desktop {
    margin-top: 0;
  }
}

.main-footer__wrapper {
  @include bp-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 143px;

    @include gorisontal-center;
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
  }
}

.main-footer__logo {
  display: none;

  @include bp-tablet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.main-footer__link {
  outline: none;
}

.main-footer__link:hover .main-footer__logo-img,
.main-footer__link:focus .main-footer__logo-img {
  fill: $tiffany-medium-dark;
}

.main-footer__link:active .main-footer__logo-img {
  fill: $tiffany-medium-dark;
  opacity: 0.3;
}

.main-footer__developer {
  border-top: 1px solid $grey-light;

  @include bp-tablet {
    border-top: none;
  }
}
