.map-box {
  position: relative;
  margin: 33px 0 41px;
  background-color: $white-medium;

  // background-image: url("img/map-mobile@1x.jpg");
  // background-color: $white-medium;
  // background-position: center top;
  // background-repeat: no-repeat;

  &::after {
    position: absolute;
    top: 32%;
    left: 43%;
    content: "";
    display: block;
    width: 67px;
    height: 100px;
    background: url("../img/icon-map-pin.svg") no-repeat center;
    background-size: contain;

    @include bp-tablet {
      left: 47.3%;
      top: 30.7%;
    }

    @include bp-desktop {
      top: 32%;
      left: 45.3%;
    }
  }

  @include bp-tablet {
    /*max-width: 768px;*/
    margin: 28px 0 55px;
  }

  @include bp-desktop {
    margin: 0;
    width: 527px;
    height: 457px;
  }
}

.map-box__img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;

  &:before {
    content: "";
    display: block;
    padding-top: 138%;

    @include bp-tablet {
      padding-top: 57%;
    }
  }

  @include bp-tablet {
    min-height: 457px;
  }


  @include bp-desktop {
    /*min-width: 527px;*/
    /*min-height: 457px;*/
    width: 100%;
    height: auto;
  }
}
