.map-box {
  margin: 33px 0 42px;

  @include bp-tablet {
    margin: 28px 0 55px;
  }

  @include bp-desktop {
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.map-box iframe {
  border: 0;
}

.map-box__img {
  display: block;
  width: 100%;
  min-height: 454px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 320px auto;
  background-color: $white-medium;
  background-position: center;
  background-repeat: no-repeat;

  @include bp-retina-2x {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @include bp-tablet {
    min-height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px auto;
    background-color: $white-medium;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-retina-2x {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @include bp-desktop {
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 527px auto;
    background-color: $white-medium;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-retina-2x {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
