.product-week {
  width: 100%;

  @include bp-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    @include gorisontal-center;
  }

  @include bp-desktop {
    max-width: $bp-desk-big;
    padding-top: 124px;
    padding-bottom: 52px;
  }
}

.product-week__header {
  @include bp-desktop {
    z-index: 1;
  }
}

.product-week__header-mark {
  font-size: 17px;
  line-height: 20px;
  color: $tiffany-light;
  text-transform: uppercase;

  @include bp-tablet {
    display: flex;
    align-items: center;
    padding-right: 8px;
    text-align: center;
    line-height: 1;
  }

  @include bp-desktop {
    flex-basis: 175px;
    padding: 3px 57px 0 46px;
    order: -1;
  }
}

.product-week__databox {
  @include bp-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
    grid-column: 1/3;
    grid-template-rows: min-content 1fr min-content min-content;
    min-height: 455px;
  }

  @include bp-desktop {
    grid-column-gap: 0;
    width: 100%;
    padding: 0;
  }
}

.product-week__description {
  margin: 0;
  padding: 11px 0 21px;
  line-height: 24px;

  @include bp-tablet {
    grid-column: 1/2;
    width: 100%;
    padding: 38px 0 41px 0;
    font-size: 17px;
    line-height: 30px;
  }

  @include bp-desktop {
    padding: 35px 50px 33px 175px;
  }
}

.product-week__info-box {
  @include bp-only-mobile {
    max-width: 100%;
    @include gorisontal-center;
  }

  @include bp-tablet {
    grid-column: 1/2;
  }

  @include bp-desktop {
    padding: 0 58px 18px 175px;
  }
}

.product-week__photo {
  min-width: 260px;
  min-height: 315px;
  margin: 28px 0 9px;

  @include bp-tablet {
    grid-column: 2/3;
    grid-row: 1/5;
    min-width: 334px;
    min-height: 404px;
    margin-top: 50px;
    // margin-top: 15.056%;
    margin-bottom: 0;
  }

  @include bp-desktop {
    max-width: 525px;
    height: 636px;
    margin-top: -118px;
    padding: 0;
  }
}

.product-week__img {
  position: relative;
  display: block;
  @include adaptive-img;

  &:before {
    content: "";
    display: block;
    padding-top: 117%;
  }

  @include bp-tablet {
    min-width: 334px;
    min-height: 404px;
    background-color: $white-medium;
  }

  @include bp-desktop {
    min-width: 525px;
    min-height: 636px;
  }
}

.product-week__cost {
  width: 100%;
  margin-left: -1px;
  padding: 17px 0 24px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black-medium-light;

  @include bp-tablet {
    grid-column: 1/2;
    padding: 57px 29px 33px 27px;
    font-size: 20px;
    line-height: 24px;
  }

  @include bp-desktop {
    padding: 91px 57px 33px 176px;
  }
}
