.product-week {
  width: 100%;

  @include bp-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*max-width: $bp-tab;*/
    max-width: 100%;

    @include gorisontal-center;
  }

  @include bp-desktop {
    padding-top: 124px;
    padding-bottom: 52px;
    max-width: $bp-desk-big;
  }
}

.product-week__header {
  @include bp-desktop {
    z-index: 1;
  }
}

.product-week__header-mark {
  font-size: 17px;
  line-height: 20px;
  color: $tiffany-light;
  text-transform: uppercase;

  @include bp-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding-right: 9px;
  }

  @include bp-desktop {
    order: -1;
    flex-basis: 175px;
    padding: 5px 57px 0 46px;
  }
}

.product-week__databox {
  @include bp-tablet {
    position: relative;
    padding: 0 42px 0 0;
  }

  @include bp-desktop {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}

.product-week__description {
  line-height: 24px;
  padding: 11px 0 21px;
  margin: 0;

  @include bp-tablet {
    width: 100%;
    font-size: 17px;
    line-height: 30px;
    /*line-height: inherit;*/
    padding: 38px 0 41px 0;
  }

  @include bp-desktop {
    padding: 35px 50px 33px 175px;
  }
}

.product-week__info-box {
  @include bp-only-mobile {
    // max-width: 260px;
    max-width: 100%;

    @include gorisontal-center;
  }

  @include bp-desktop {
    padding: 0 58px 18px 175px;
  }
}

.product-week__photo {
  display: flex;
  padding: 28px 0 0;
  justify-content: center;

  @include adaptive-img-wrapper;

  @include bp-tablet {
    position: absolute;
    top: 0;
    /*right: -100%;*/
    right: -333px;
    padding-top: 51px;
    max-width: 333px;
    height: 403px;
    margin: 0;
  }

  @include bp-desktop {
    right: -525px;
    margin-top: -118px;
    padding: 0;
    max-width: 525px;
    height: 636px;
  }
}

.product-week__bg-photo {
  display: none;

  @include bp-tablet {

    @include adaptive-img-wrapper;

    display: flex;
    justify-content: center;
    margin: 51px 0 0;
    max-width: 333px;
    height: 403px;
    background-color: #f1f1f1;
  }

  @include bp-desktop {
    margin-top: -118px;
    padding: 0;
    max-width: 525px;
    height: 636px;
  }
}

.product-week__img {
  @include adaptive-img;

  @include bp-tablet {
    min-width: 333px;
    min-height: 404px;
  }

  @include bp-desktop {
    min-width: 525px;
    min-height: 636px;
  }
}

.product-week__cost {
  width: 100%;
  margin-left: -1px;
  padding: 17px 0 24px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black-medium-light;

  @include bp-tablet {
    font-size: 20px;
    line-height: 24px;
    padding: 57px 29px 33px 27px;
  }

  @include bp-desktop {
    padding: 91px 57px 33px 175px;
  }
}
