.review {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 45px;

  @include bp-tablet {
    min-height: 457px;
    margin-bottom: 49px;
    padding-top: 79px;
    padding-bottom: 45px;
    background: url("../img/review@1x.jpg") no-repeat 0 0;

    @include gorisontal-center;

    @include bp-retina-2x {
      background: url("../img/review@2x.jpg") no-repeat 0 0;
      background-size: 350px auto;
    }
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    min-height: 458px;
    padding: 69px 0 45px 174px;

    @include gorisontal-center;
  }
}

.review__blockquote {
  display: flex;
  flex-direction: column;
}

.review__text {
  margin: 0;
  padding: 14px 0 34px;

  @include bp-tablet {
    padding: 39px 0 60px;
    font-size: 17px;
  }

  @include bp-desktop {
    padding: 35px 0 44px 1px;
  }
}

.review__author {
  display: flex;
  width: 100%;
  padding: 0 0 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: $black;

  @include bp-tablet {
    width: 50%;
    padding: 0 0 4px;
    font-size: 18px;
    line-height: 24px;
  }

  @include bp-desktop {
    padding: 0 0 3px;
    font-size: 17px;
    line-height: 24px;
  }
}

.review__link {
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $black-medium-light;

  &:hover,
  &:focus,
  &:active {
    color: $tiffany-medium-dark;
    outline: none;
  }

  @include bp-tablet {
    display: flex;
    width: 50%;
    font-size: 17px;
    line-height: 30px;
  }
}
