.social-box {
  width: 100%;
  padding: 0;

  @include bp-tablet {
    @include flex-center-vh;
  }
}

.social-box__list {
  display: flex;
  max-width: 180px;
  margin: -1px auto 1px auto;
  list-style-type: none;

  @include bp-tablet {
    width: 100%;
    max-width: 177px;
    margin: -9px 0 0 -80px;
  }

  @include bp-desktop {
    margin-left: -82px;
  }
}

.social-box__item {
  width: 33.3%;
  text-align: center;
}

.social-box__link {
  @include flex-center-vh;
  width: 100%;
  min-height: 80px;
  text-decoration: none;
  outline: none;

  &:hover .social-box__link-icon,
  &:focus .social-box__link-icon {
    fill: $tiffany-medium-dark;
  }

  &:active .social-box__link-icon {
    fill: $tiffany-medium-dark;
    opacity: 0.3;
  }
}
