.video-box {
  position: relative;
  margin-top: 6px;

  @include bp-tablet {
    order: -1;
  }

  @include bp-desktop {
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: end;
    width: 682px;
    height: 455px;
    padding: 0;
    margin: 0;
  }
}

.video-box__prewiew {
  @include adaptive-img;

  display: block;

  @include bp-desktop {
    min-height: 455px;
  }
}

.video-box__play {
  position: absolute;
  cursor: pointer;

  @include position-zero;
  margin: auto;
  width: 101px;
  height: 77px;
  border: none;
  background: url("../img/icon-play.svg") no-repeat center;
  background-size: contain;

  @include transition;

  &:hover,
  &:active {
    transform: scale(1.2);
  }

  &:focus {
    transform: scale(0.8);
    opacity: 0.6;
  }
}
