.video {
  padding: 0 30px;
  margin-bottom: 58px;

  @include bp-tablet {
    padding: 0 50px;
    margin-bottom: 63px;
  }

  @include bp-desktop {
    margin-bottom: 105px;
  }
}

.video__wrapper {
  position: relative;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 33px;
  box-shadow: 0px 0px 0px 1px $white-medium-dark inset;

  @include bp-tablet {
    // max-width: $bp-tab;
    box-shadow: none;

    @include gorisontal-center;
    padding: 0;
    border: none;
  }

  @include bp-desktop {
    // flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: $bp-desk-small;
    height: 455px;
    // padding: 0 $padding-usual-tab 0 0;
    box-shadow: 0px 0px 0px 1px $white-medium-dark inset;
  }
}

.video__header {
  display: flex;

  @include bp-tablet {
    padding-left: 27px;
    border: 1px solid $white-medium-dark;
    border-bottom: 0;
  }

  @include bp-desktop {
    grid-row: 1/2;
    grid-column: 2/3;
    flex-wrap: wrap;
    // width: 50%;
    border-left: 0;
    padding-left: 79px;
    padding-top: 44px;
    border: none;
  }

  &::before {
    content: "";
    width: 92px;
    min-height: 90px;
    background: url("../img/icon-video.svg") no-repeat 31px 30px;
    background-size: 32px auto;

    @include bp-tablet {
      width: 77px;
      min-height: 88px;
      background-position: 14px 33px;
    }

    @include bp-desktop {
      min-height: 35px;
      background-position: 0 -2px;
    }
  }
}

.video__title {
  display: flex;
  align-items: center;
  padding: 1px 0 0 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $black;

  @include bp-tablet {
    font-size: 20px;
    padding: 17px 0 0 10px;
  }

  @include bp-desktop {
    width: 100%;
    padding-right: 20%;
    padding-left: 0;
  }
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  padding: 35px 33px 41px 34px;
  margin: 0;

  @include bp-tablet {
    padding: 0px 18px 41px 39px;
    font-size: 15px;
    line-height: 30px;
    border-left: 1px solid $white-medium-dark;
    border-right: 1px solid $white-medium-dark;
  }

  @include bp-desktop {
    grid-column: 2/3;
    grid-row: 2/3;
    // width: 34.5%;
    padding: 26px 0 50px 79px;
    border: none;

  }
}

.video__button-order {
  padding: 0 34px;

  @include bp-tablet {
    padding: 0 41px 45px;
    border: 1px solid $white-medium-dark;
    border-top: none;
  }

  @include bp-desktop {
    grid-column: 2/3;
    grid-row: 3/4;
    // width: 34.5%;
    border-left: none;
    padding: 0 58px 59px 80px;
    border: none;
  }
}
